.blog {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-10);
    height: 110vh;
    


}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    background-color: var(--dark-20);
    width: 100%;

}

.search {
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 5% 90%;
    background-position: 10px;
    background-color: var(--dark-30);
    color: var(--dark-60);
    font-weight: 500;
    border-radius: 8px;
    padding-left: 60px;
    border: 1px solid #252529;
    margin-top: 48px;
    width: 50vw;
    height: 41px;
}

h1 {

    font-family: Space Grotesk;
    font-size: 35px;
    margin-top: 64px;
    font-style: normal;
    font-weight: 500;
    color: var(--dark-60);

}

span {
    color: var(--brander-colour);
    font-family: Space Grotesk;
    font-size: 35px;
    font-weight: 500;

}



.frame2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    padding: 30px;

    width: 50vw;
    margin-top: 30px;

}

.contenner {
    width: 50vw;
    height: 160px;
    border-radius: 8px;

}

.frame2 div div {
    display: flex;
    justify-content: space-between;

}



h3 {
    color: var(--dark-60);
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
    margin-left: 40px;

}

section div div p {
    color: var(--brander-colour);
    font-family: Inter;
    font-size: 12px;


}

p {

    color: var(--dark-50);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-left: 40px;

}

section div {
    background-color: var(--dark-30);
}

.frame2 .contenner .sub-contenner {
    margin-top: 20px;
    margin-right: 40px;
}